<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href="/">
                    Red Positive
                </a>
            </p>
        </div>
    </nav>
</header>
