<link rel="stylesheet" href="/css/styles.css">


<div class="container">
    <h1>Red Positive</h1>

    <div class="form">
        <h2>Add Data:</h2>
        <form action="/add" method="POST">
            <input type="text" name="name" placeholder="Name" required>
            <input type="tel" name="phoneNumber" placeholder="Phone Number" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="hobbies" placeholder="Hobbies" required>
            <button type="submit">Save</button>
        </form>
    </div>

    <div class="table">
        <h2>Data Table</h2>
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Hobbies</th>
                    <th>Update/Delete</th>
                </tr>
            </thead>
            

        </table>
    </div>
</div>